.main-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color1);
    border-bottom: 10px solid #000;
    padding: 10px 20px;
    max-width: 1280px;
    margin: 0 auto;
}