.main-section {
    max-width: 1280px;
    margin: 0 auto;
    background-color: var(--color0);
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid var(--color1);
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-borderColor0 {
    border-bottom: 10px solid var(--color0);
}

.main-section.-bgColor1 {
    background-color: var(--color1);
}

.main-section.-borderBlack {
    border-bottom: 10px solid #000;
}