.skills {
    max-width: 1280px;
    height: 730px;
    margin: 0 auto;

    background-color: var(--color0);
    border-bottom: 10px solid var(--color2);
}

.skills_wrapper {
    width: 960px;
    margin: 60px auto 0 auto;
}

.skill_item {
    display: flex;
    margin-bottom: 40px;
}

.skill_icon {
    width: 80px;
    height: 90px;
    margin-right: 20px;
}

.skill_name {
    color: #fff;
    font-size: 25px;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
}

.skill_bar-box {
    width: 320px;
    background-color: #fff;
    border: 5px solid #000;
    margin-top: 11px;
}

.skill_bar {
    text-align: right;
    color: #fff;
    background-color: var(--color2);
    width: 40%;
}